.upload-form {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  margin: 0px 0px 20px 0;
}
.form-group {
  margin: 10px 0;
  text-align: left;
  padding: 0 20px;
}
.select2-container {
  width: 100% !important;
}
.background {
  display: flex;
  justify-content: center;
  padding: 50px;
  margin: 0 auto;
  box-sizing: border-box;
}
.background.landscape {
  align-items: center;
}
.background.portrait {
  align-items: flex-end;
  padding: 50px 50px 0px 50px;
}
.preview-image {
  max-width: 90%;
  height: auto;
  width: auto;
  max-height: 100%;
}